* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common styles */
.menu-title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 428px) {
  .menu-title {
    font-size: 25px;
    font-weight: bold;
  } 
}

.menu-list ul {
  list-style-type: none;
}

.List {
  margin-left: 70px;
}

.menu-list ul li {
  margin-top: 20px;
  margin-left: -64px;
}

@media screen and (max-width: 769px) {
  .menu-list ul li {
    margin-top: 20px;
    margin-left: -95px;
  } 
}

.menu-list ul li a {
  color: white;
  text-decoration: none;
}

.menu-footer {
  position: absolute;
  bottom: 0;
}

.menu-footer ul {
  list-style-type: none;
  padding: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 769px) {
  .menu-footer ul {
    margin-left: 0px;
  } 
}

.menu-footer ul li {
  margin-top: 15px;
}

.menu-footer ul li a {
  color: white;
  text-decoration: none;
}



/* toogle menu */

.dropdown-menu ul li{
  list-style-type: none;
  margin-top: 10px;
}
.dropdown-menu ul li a{
  text-decoration: none;
  color: white;
}


.dashboard-title {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.box {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  width: 300px;
  height: 120px;
  color: black;
  border-color: grey;
  box-shadow: 0px 2px 11px 0 grey;
  flex: 1 0 140px;
}

.box-title {
  font-size: 11px;
  font-weight: 400;
}

.box-value {
  font-weight: bold;
  font-size: 21px;
}

.last-row {
  padding-top: 20px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.profile-details {
  box-shadow: 0px 2px 11px 0 grey;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  place-items: center;
}

/* Media query for screens narrower than 768px */
@media (max-width: 426px) {
  .profile-details {
    display: flex;
    flex-direction: column;
  }
}

.bar-graph-user-name{
  margin-right: 15px;
}

@media  (max-width: 321px) {
  .bar-graph-user-name{
    margin-right: 10px;
  }
}



/* Login Page */
.login-left {
  position: relative;
  background-color: #3498db;
  overflow: hidden;
  border-bottom-right-radius: 10% 100%;
  padding: 20px;
  text-align: center;
  color: white;
}

.login-left .logo {
  text-align: left;
}

.login-left .Title-name {
  display: grid;
  place-items: center;
  font-size: 62px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-left .contact-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
}

.login-left .icons {
  margin: 0 20px;
  font-size: 35px;
}

.contact-profiles-mobile{
  display: flex;
  justify-content: center;
}

.icons-mobile{
  margin-left: 30px;
}

/* Last row */
.last-row-title-name{
  float: left;
}

.last-row-title-date{
  float: right;
  color: grey;
}

@media (max-width: 465px) {
  .chart-head-right-mobile{
    position: relative;
    top: -79px;
  }
}


@media (max-width: 768px) {
  .last-row-title-name {
    position: relative;
    float: none;
    margin-left: 48px;
    font-size: 20px;
  }
  .last-row-title-date {
    position: relative;
    float: none;
    margin-left: 65px;
    font-size: 10px;
  }
}





/* Common Styles */
.main {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 400px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-labels {
  margin-top: 10px;
  font-weight: 500;
}
